.btn-blue {
    background: linear-gradient(90deg, rgba(28, 176, 215, 1) 0%, rgba(82, 124, 235, 1) 100%);
    border-radius: 20px;
    padding: 6px 24px;
    color: white;
    border: none;

    &:hover {
        background: linear-gradient(90deg, rgba(182, 36, 110, 1) 0%, rgba(249, 99, 107, 1) 100%);
        color: white;
    }
}

.btn-red {
    background: linear-gradient(90deg, rgba(182, 36, 110, 1) 0%, rgba(249, 99, 107, 1) 100%);
    border-radius: 20px;
    padding: 6px 24px;
    color: white;
    border: none;

    &:hover {
        background: linear-gradient(90deg, rgba(28, 176, 215, 1) 0%, rgba(82, 124, 235, 1) 100%);
        color: white;
    }
}

.btn-white {
    background-color: white;
    border-radius: 20px;
    padding: 6px 24px;
    color: salmon;
    border: none;

    &:hover {
        background: linear-gradient(90deg, rgba(28, 176, 215, 1) 0%, rgba(82, 124, 235, 1) 100%);
        color: white;
    }
}

.bold {
    font-weight: 800;
}

.salmon-text {
    color: #F9636B;
}

h6 {
    font-size: 12px;
}

.gradient-salmon-bg {
    background: linear-gradient(90deg, rgba(182, 36, 110, 1) 0%, rgba(249, 99, 107, 1) 100%);
    color: white;
}

.gradient-blue-bg-ht {
    background: linear-gradient(180deg, rgba(0,28,103,1) 60%, rgba(229,229,234,1) 40%);
    color: white;
}

.gradient-blue-bg-hb {
    background: linear-gradient(180deg, rgba(229,229,234,1) 50%, rgba(0,28,103,1) 50%);
    color: white;
}

.blue-bg {
    background-color: #233064;
    color: white;
}

.white-bg {
background-color: #e5e5ea;}

.blue-text {
    color: #1CB0D7;
}

.gray-text {
    color: #AAAAAA;
}